<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
{{!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> --}}
<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
<!--
span.cls_004{font-family:'Poppins';font-size:22.1px;color:rgb(29,29,33);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:'Poppins';font-size:22.1px;color:rgb(29,29,33);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:'Poppins';font-size:22.1px;color:rgb(83,41,110);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:'Poppins';font-size:22.1px;color:rgb(83,41,110);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:'Poppins';font-size:14.1px;color:rgb(55,55,55);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:'Poppins';font-size:14.1px;color:rgb(55,55,55);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:'Poppins';font-size:18.1px;color:rgb(35,35,35);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:'Poppins';font-size:18.1px;color:rgb(35,35,35);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:'Poppins';font-size:16.1px;color:rgb(55,55,55);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:'Poppins';font-size:16.1px;color:rgb(55,55,55);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:'Poppins';font-size:13.1px;color:rgb(83,41,110);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:'Poppins';font-size:13.1px;color:rgb(83,41,110);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:'Poppins';font-size:16.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:'Poppins';font-size:16.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:'Poppins';font-size:18.1px;color:rgb(35,35,35);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:'Poppins';font-size:18.1px;color:rgb(35,35,35);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:'Poppins';font-size:16.1px;color:rgb(111,111,111);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:'Poppins';font-size:16.1px;color:rgb(111,111,111);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:'Poppins';font-size:16.1px;color:rgb(115,115,115);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:'Poppins';font-size:16.1px;color:rgb(115,115,115);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:'Poppins';font-size:16.1px;color:rgb(83,41,110);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:'Poppins';font-size:16.1px;color:rgb(83,41,110);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:'Poppins';font-size:12.1px;color:rgb(115,115,115);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:'Poppins';font-size:12.1px;color:rgb(115,115,115);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:'Poppins';font-size:8.1px;color:rgb(115,115,115);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:'Poppins';font-size:8.1px;color:rgb(115,115,115);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
</head>
<body>
  <div style="font-family:'Poppins';position:static;margin-left:24%;padding-right:29%;width:635px;top:0px;overflow:hidden">
  {{> header unmudlLogo = unmudlLogo}}
  <div style="font-family:'Poppins';position:static;margin-left:80.00px;margin-top:79.80px" class="cls_004"><span class="cls_004">{{sender.fullname}} sent you a gift</span></div>
  <div style="font-family:'Poppins';position:static;margin-left:80.00px;margin-top:30px" class="cls_005"><span class="cls_005">“{{message}}”</span></div>
  <div style="font-family:'Poppins';position:static;margin-left:154.35px;margin-top:30px;width:350px;height:206px;background-image:url({{courseCover}});background-size:cover" class="cls_006">
    <div style="font-family:'Poppins';display:inline-block;margin-left:270.35px;margin-top:18px;background-color:white;padding:5px;border-radius:2px" class="cls_007"><span class="cls_007">${{coursePrice}}</span></div>
  </div>
  <div style="font-family:'Poppins';position:static;margin-left:154.35px;margin-top:0px;width:348px;border-left:0.5px solid #b8bfbb;border-right:0.5px solid #b8bfbb;border-bottom:0.5px solid #b8bfbb;border-radius:3.5px;display:inline-block" class="cls_006">
    <div style="font-family:'Poppins';position:static;margin-left:7.35px;margin-top:3px" class="cls_006"><span class="cls_006">{{courseTitle}}</span></div>
    {{#if courseDate}}
    <div style="font-family:'Poppins';position:static;margin-left:7.35px;margin-top:9px" class="cls_008"><span class="cls_008">{{courseDate}}</span></div>
    {{/if}}
    <div style="font-family:'Poppins';position:static;margin-left:7.35px;margin-top:9px" class="cls_008"><span class="cls_008">{{courseVenue}}</span></div>
    <div style="font-family:'Poppins';position:static;margin-left:7.35px;margin-top:9px;display:inline-block;">
      <div style="font-family:'Poppins';position:static;width:18px;height:18px;border-radius:20px;background-color:black;background-image:url({{collegeLogo}});background-size:cover;float:left"></div>
      <div style="font-family:'Poppins';position:static;margin-left:24px" class="cls_009"><span class="cls_009">{{collegeTitle}}</span></div>
    </div>
  </div>
  <br><br>
  <a href={{courseUrl}} style="font-family:'Poppins';position:static;margin-left:162.02px;margin-top:98px;background-color:#422258;padding-left:126px;padding-right:126px;padding-top:8px;padding-bottom:8px;border-radius:2px;text-decoration:none;" class="cls_011"><span class="cls_011">Accept Gift</span></a>
  <div style="font-family:'Poppins';position:static;margin-left:197.00px;margin-top:30px" class="cls_010"><span class="cls_010">Gift Code: {{giftCode}}</span></div>
  <br><br>
  <div style="font-family:'Poppins';position:static;margin-left:80.00px;margin-top:0px" class="cls_012"><span class="cls_012">You can request a refund only after you checkout, however the refund will be subjected to a 3% processing fees.</span></div>
  <br>
  <div style="font-family:'Poppins';position:static;margin-left:80.00px;margin-top:0px" class="cls_002"><span class="cls_002">Use of the service and website is subject to our </span><span class="cls_003">Terms of Use</span><span class="cls_002"> and</span></div>
  <div style="font-family:'Poppins';position:static;margin-left:80.00px;margin-top:0px" class="cls_003"><span class="cls_003">Privacy Statement.</span></div>
  <br>
  {{> footer}}
  {{!-- <div style="font-family:'Poppins';position:static;margin-left:96.00px;margin-top:0px" class="cls_013"><span class="cls_013">2020 Socialtech.ai. All rights reserved.</span></div>
  <div style="font-family:'Poppins';position:static;margin-left:83.00px;margin-top:0px" class="cls_014"><span class="cls_014">C</span></div> --}}
  </div>
</body>
</html>
