<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
    <html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      <title></title>
      <meta name="generator" content="LibreOffice 6.0.7.3 (Linux)"/>
      <meta name="author" content="Windows User"/>
      <meta name="created" content="2020-06-12T21:41:00"/>
      <meta name="changedby" content="Windows User"/>
      <meta name="changed" content="2020-06-12T22:12:00"/>
      <meta name="AppVersion" content="14.0000"/>
      <meta name="DocSecurity" content="0"/>
      <meta name="HyperlinksChanged" content="false"/>
      <meta name="LinksUpToDate" content="false"/>
      <meta name="ScaleCrop" content="false"/>
      <meta name="ShareDoc" content="false"/>
      <style type="text/css">
        @page { margin: 1in }
        p { margin-bottom: 0.1in; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
        a:link { color: #0000ff }
      </style>
    </head>
    <body lang="en-US" link="#0000ff" dir="ltr">
    {{> header unmudlLogo = unmudlLogo}}
    <p style="margin-bottom: 0.14in"><br/>
    <br/>

    </p>
    <p style="margin-bottom: 0.14in"> {{date}}</p>
    <p style="margin-bottom: 0.14in">Dear {{learner.fullname}},</p>
    <p style="margin-bottom: 0.14in">This short note is just to let you
    know that {{college.title}} just accepted you into {{course.title}}.<!-- and your credit
    card has been charged ${{enrollment.totalPaid}}.-->  
    </p>
    <p style="margin-bottom: 0.14in">For some – but not all - online classes, you will see a button named “Launch Course” located on the picture of the course in the “My Enrollments” section of your account.  This button will become active on the first day of the course. <span style="text-decoration-line: underline;">When it is live, it will take you to the course, or a special login for the course.  If you need a special login, the college will send it to you in a separate email.</span>
    </p>
    <p style="margin-bottom: 0.14in">For courses with no “launch course” button, including all in-person courses, please continue to monitor your email for messages from the college on how to connect to the course. If you are taking a San Juan College course, please read the special note at the bottom of this letter.
    </p>
    <p align="center" style="margin-bottom: 0.14in"><b>Questions or
    Issues about a Class</b></p>
    <p style="margin-bottom: 0.19in"><a name="_GoBack"></a>If issues or
    questions come up, you can communicate directly with the college
    using the “Message College” button inside your account under “My
    Enrollments.”  Messages you send this way should receive a response
    within 1 working day.</p>
    <p align="center" style="margin-bottom: 0.14in"><b>Refunds</b></p>
    <p style="margin-bottom: 0.19in">Refunds may be requested from the
    college via the “Request Refund” button. Clicking this button
    will open a request to the college.  These refunds are subject to a
    3% + 30¢ processing fee. 
    </p>
    <p align="center" style="margin-bottom: 0.14in"><b>Technical Support</b></p>
    <p style="margin-bottom: 0.14in">Technical support, along with any
    suggestions or ideas you may have about improving Unmudl, can be sent
    to <font color="#0000ff"><u><a href="mailto:{{supportMail}}">{{supportMail}}</a></u></font></p>
    <p style="margin-bottom: 0.14in">We look forward to hearing from you
    – and here’s to the great adventure ahead!</p>
    <p style="margin-bottom: 0.14in">– the Unmudl Team at Social Tech</p>
    <p style="margin-bottom: 0.14in"><br/>
    <ul>
      <li/>
    <p style="margin-bottom: 0.14in"><font size="2" style="font-size: 10pt">Special
      note to San Juan College course registrants:  You may receive an
      email from San Juan College regarding a Canvas account.  This is the
      software that delivers SJC’s online classes.  You can safely
      ignore this email, as you get automatic passthrough access through
      Unmudl itself, by clicking on “Launch Couse” in “My
      Enrollments.”  If you happen to have a pre-existing Canvas account
      at the college, you may log into that directly to access both your
      Unmudl and non-Unmudl courses from the college.  If you find you
      need Canvas assistance, please contact Star Flagel,
      </font><font color="#0000ff"><u><a href="mailto:flagels@sanjuancollege.edu"><font size="2" style="font-size: 10pt">flagels@sanjuancollege.edu</font></a></u></font><font size="2" style="font-size: 10pt">
      .</font></p>
    </ul>	
    {{> footer}}
    </body>
    </html>